* {
  margin: 0;
}

.App {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: white;
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {

  object-fit: contain;
  height: 2rem;
}

.app__signup {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.app__posts{
  padding: 15px;
  display: flex;
  justify-content: center;
  
}
.app_postsRight{
  margin-left:10px ;
}